<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @favor.user_id %>
</p>

<p>
  <strong>Section:</strong>
  <%= @favor.section_id %>
</p>

<p>
  <strong>Field:</strong>
  <%= @favor.field_id %>
</p>

<%= link_to 'Edit', edit_favor_path(@favor) %> |
<%= link_to 'Back', favors_path %>
