<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @layout.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @layout.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @layout.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @layout.image_url %>
</p>

<%= link_to 'Edit', edit_layout_path(@layout) %> |
<%= link_to 'Back', layouts_path %>
